.template_section{
    background-color: #f4f4f9;
    padding-bottom: 48px;
    padding-top: 7px;
}

.template_top{
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.template_left span{
    font-size: 16px;
    color: #202124;
}

.template_right{
    display: flex;
    align-items: center;
}

.galleryButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    /* outline: none; */
    font-size: 14px;
    /* border: none; */
}

.template_body{
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.card{
    margin-left: 20px;
    margin-top: 15px;
}

.card_image{
    box-sizing: border-box;
    height: 136px;
    width: 180px;
    cursor: pointer;
    border-radius: 2px;
    border: 0.2px solid #FFFDF7;
}

.card_image:hover{
    border: 1px solid #6e2594;
}

.card_title{
    font-size: 12px;
    margin-top: 2px;
    color: #202124;
    font-weight: 500;
}

